* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  :root:not(.darkmode) {
    --background-image: url(https://img.freepik.com/free-vector/hand-drawn-butterfly-outline-background_23-2149023921.jpg?w=826&t=st=1670821068~exp=1670821668~hmac=6d1cc963df35117272964615cfe117dbc00335ddc9156c6a38d7fb467c966382);
    --background-color: #86A3B1;
    --primary-color: #D2B9BF;
    --font-color:#535D69;
    --background-toggle: linear-gradient(
      90deg,
      #5f0057 0%,
      #29005f 50%,
      rgb(12, 11, 11) 100%
    );
    --content-text: "Dark Mode";
  }
  
  :root.darkmode {
    --background-image: url(https://img.freepik.com/free-vector/sparkly-butterfly-background-aesthetic-violet-border-vector-animal-illustration_53876-136889.jpg?w=826&t=st=1670827990~exp=1670828590~hmac=defeaa08c0df299f1bd63ed09dc54c8a58a52abf5b49ac19b00a0474fa8d4a18     );
    --background-color: #5f0057;
    --primary-color: #29005f;
    --font-color: #ffffff;
    --background-toggle: linear-gradient(
      90deg,
      #86A3B1 0%,
      #D2B9BF 50%,
      rgba(255, 255, 255, 1) 100%
    );
    --content-text: "Light Mode";
  }
  
  .toggle {
    background: var(--background-toggle);
    color: var(--font-color);
    cursor: pointer;
    right: 10px;
    top: 40vh;
    width: 50px;
    height: 55px;
    position: fixed;
    z-index: 999;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s ease;
  }
  
  .toggle:hover {
    width: 100px;
  }
  
  .toggle:hover::after {
    content: var(--content-text);
    transition: 0.4s;
  }
  
  .container {
    padding: 20px;
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    min-height: 86vh;
    transition: 1s;
  }
  
  .container2 {
    padding: 20px;
    background-color: var(--background-color);
    transition: 0.4s;
    min-height: 86vh;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
  }
  
  h2 {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: 20px 0;
    transition: 0.4s;
    width: fit-content;
  }
  
  img.photo {
    width: 200px;
    border-radius: 20px;
  }
  
  .text {
    height: 100px;
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
  }
  
  .text img {
    width: 100px;
  }
  
  .text h3 {
    font-size: 2em;
    line-height: 100px;
    color: var(--font-color);
    transition: 0.4s;
  }
  
  .text h3:nth-child(1) {
    animation: text-gerak 10s infinite;
  }
  
  @keyframes text-gerak {
    0% {
      margin-top: 0;
    }
  
    25% {
      margin-top: -100px;
    }
  
    50% {
      margin-top: -220px;
    }
  
    75% {
      margin-top: -100px;
    }
  
    100% {
      margin-top: 0;
    }
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    width: 100%;
    transition: 0.4s;
    z-index: 2;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  ul li a {
    display: block;
    text-decoration: none;
    transition: 0.4s;
    color: var(--font-color);
    transition: 0.4s;
    padding: 20px 20px;
  }
  
  ul li a:hover {
    background-color: #bd51b6;
  }
  
  .jarak {
    margin: 0;
    padding: 20px;
    transition: 0.4s;
    background-color: var(--background-color);
  }
  
  .box {
    width: 50%;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 10px;
    margin: 20px auto;
    transition: 0.4s;
    border-radius: 10px;
  }
  
  figure {
    margin: 20px auto;
  }
  
  iframe {
    border-radius: 0 40px;
    width: 400px;
    height: 200px;
  }
  
  figcaption {
    background-color: var(--primary-color);
    margin: 0 auto;
    color: var(--font-color);
    padding: 10px;
    width: fit-content;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  table,
  th,
  td {
    margin: 20px auto;
    padding: 8px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);
    transition: 0.4s;
    padding: 10px;
  }
  
  tr:hover {
    transition: 0.4s;
    background-color: var(--background-color);
  }
  
  .form {
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: 0.4s;
    color: var(--font-color);
    padding: 20px;
    margin: 20px auto;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: var(--primary-color);
    transition: 0.4s;
    color: var(--font-color);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #e52441;
  }
  
  footer {
    padding: 15px;
    width: 100%;
    transition: 0.4s;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    z-index: 1;
    text-align: center;
    color: var(--font-color);
  }
  
  /* mobile */
  @media (min-width: 320px) {
    .container {
      max-height: 10vh;
    }
  
    #beranda h2 {
      margin: 10px;
    }
  
    .text {
      margin-top: 10vh;
    }
  
    nav {
      font-size: 10px;
    }
  
    ul li a {
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .wrapper {
      flex-wrap: wrap;
    }
  
    .box {
      width: 80%;
    }
    iframe {
      width: max-content;
    }
    th,
    td {
      padding: 5px;
      font-size: 12px;
    }
  
    footer {
      width: auto;
      position: relative;
    }
  }
  
  /* tablet */
  @media (min-width: 760px) and (max-width: 1024px) {
    .container {
      min-height: 92vh;
    }
  
    .text {
      margin-top: 30vh;
    }
  
    nav {
      font-size: x-large;
    }
  
    ul li a {
      padding: 20px;
    }
  
    .box {
      width: 50%;
    }
  
    th,
    td {
      font-size: large;
    }
  
    footer {
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 1;
    }
  }
  
  /* dekstop */
  @media (min-width: 1366px) {
    .container {
      min-height: 90vh;
    }
  
    .text {
      margin-top: 40vh;
    }
  
    nav {
      font-size: 20px;
    }
  
    ul li a {
      padding: 20px;
    }
  
    .box {
      width: 50%;
    }
  
    th,
    td {
      font-size: x-large;
    }
  
    footer {
      width: 100%;
      position: fixed;
      bottom: -10px;
      z-index: 1;
    }
  }
  